@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #242424;
}


.typography--variant-h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.typography--variant-h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.typography--variant-h3 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}

.typography--variant-h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
}

.typography--variant-h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.typography--variant-h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.typography--variant-body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

@layer components {
  ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: theme('colors.black');
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: theme('colors.tmrev.gray.dark');
  -webkit-box-shadow: 0 0 1px rgba(8, 8, 8, 0.5);
}
}